<!-- angular-calc -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>のみかる</title>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
	<script src="js/nomiCal.js"></script>

</head>
<body>
	<h1>のみかる</h1>
	<div ng-app="nomiCalApp" ng-controller="nomiCalAppCtrl">
		<div class="input-group">
		<div class="btn-group">
			<label>参加人数</label>
			{{nomiMember.length}}人 <br>
			<label>合計額</label>
			<input type="number" ng-model="totalPrice"><br>
			<hr>
			<div ng-repeat="member in nomiMember">
			<form class="form-inline">
				<div class="form-group">
					<h3>{{member.name}}</h3>
				</div>
				<div class="form-group">
					<select ng-model="member.position" ng-options="p for p in positions" class="form-control input-sm"></select>
				</div>
				<div class="form-group">
					<h3>{{showPrice(member) | number: 0}}円</h3>
				</div>
				<button class="btn-danger btn-xs" ng-click="deleteMember(member);">削除</button>
				</form>
			</form>
			</div>
			<h3>合計:</h3>
			<form ng-submit="addMember()">
				<input type="text" ng-model="memberName"  size="30" placeholder="のみ仲間を追加">
				<input class="btn-primary" type="submit" value="追加">
			</form>
		</div>
		</div>
	</div>
</body>
</html>
